<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>170410_EasyShop</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<filter>
		<display-name>EncodingFilter</display-name>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>com.chain.easyshop.filter.EncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	<filter>
		<display-name>TransactionFilter</display-name>
		<filter-name>TransactionFilter</filter-name>
		<filter-class>com.chain.easyshop.filter.TransactionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>TransactionFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<servlet>
		<description></description>
		<display-name>ErrorServlet</display-name>
		<servlet-name>ErrorServlet</servlet-name>
		<servlet-class>com.chain.easyshop.servlet.ErrorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ErrorServlet</servlet-name>
		<url-pattern>/error.action</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>TestServlet</display-name>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>com.chain.easyshop.apps.test.TestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/test.do</url-pattern>
	</servlet-mapping>
	<filter>
		<display-name>LoginFilter</display-name>
		<filter-name>LoginFilter</filter-name>
		<filter-class>com.chain.easyshop.filter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/apps/*</url-pattern>
		<url-pattern>/admin/apps/*</url-pattern>
		<url-pattern>/test.do</url-pattern>
		<url-pattern>/good.do</url-pattern>
		<url-pattern>/cart.do</url-pattern>
		<url-pattern>/admin.do</url-pattern>
		<url-pattern>/trade.do</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
	<servlet>
		<description></description>
		<display-name>UserServlet</display-name>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>com.chain.easyshop.servlet.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/user.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.chain.easyshop.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/user.login</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GoodServlet</display-name>
		<servlet-name>GoodServlet</servlet-name>
		<servlet-class>com.chain.easyshop.servlet.GoodServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GoodServlet</servlet-name>
		<url-pattern>/good.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CartServlet</display-name>
		<servlet-name>CartServlet</servlet-name>
		<servlet-class>com.chain.easyshop.servlet.CartServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CartServlet</servlet-name>
		<url-pattern>/cart.do</url-pattern>
	</servlet-mapping>
	<filter>
		<display-name>AdminFilter</display-name>
		<filter-name>AdminFilter</filter-name>
		<filter-class>com.chain.easyshop.filter.AdminFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AdminFilter</filter-name>
		<url-pattern>/admin.do</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
	<servlet>
		<description></description>
		<display-name>AdminServlet</display-name>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>com.chain.easyshop.servlet.AdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/admin.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>TradeServlet</display-name>
		<servlet-name>TradeServlet</servlet-name>
		<servlet-class>com.chain.easyshop.servlet.TradeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TradeServlet</servlet-name>
		<url-pattern>/trade.do</url-pattern>
	</servlet-mapping>
</web-app>